/*-----master css customisation------ */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 20px;
    /* background-color: indianred; */
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

/*-----------------header css--------------*/
.heading {
    overflow: hidden;
    /* background-color: indianred; */
    color: white;
    padding: 10px 10px;
    border-bottom: 5px solid black;
}

.heading .logo {
    padding-top: 1px;
}

.title-1 {
    color: black;
    margin-top: 10px;
    font-family: cursive;
}

.heading a {
    float: right;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.heading .logo {
    font-size: 18px;
    font-weight: bold;
    float: left;
}

.heading a:hover {
    background-color: indianred;
    color: white;
}

.heading a.active {
    background-color: dodgerblue;
    color: white;
}

.header-align {
    float: left;
}

.heading img {
    width: 10%;
}

@media screen and (max-width: 500px) {
    .heading a {
        float: none;
        display: block;
        text-align: center;
    }

    .heading .logo {
        float: none;
        display: block;
        text-align: center;
    }

    .header-align {
        float: none;
    }

    .heading {
        background-color: unset;
    }
}


/* ----------body------- */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: none;

}

td, th {
    border: 1px solid green;
    text-align: left;
    padding: 8px;
}

th {
    background-color: indianred;
    color: white;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table caption {
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
}

/* ---profile----- */
.center-me {
    border-bottom: 5px solid black,
}

.profile {
    text-align: center;

    }

.right-image {
        margin-top: 10px;

    }
.right-image img {
        border-radius: 50%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.19);
        width: 80px;
    }

/* Style tab links */
.tablink {
    color: white;
    outline: none;
    cursor: pointer;
    float: right;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  .tablink:hover {
    background-color:#ddd;
    color: white;
  }

  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    display: none;
    height: 100%;
  }

/* ---shopping cart-- */

#info-column p {
    text-align: center;
    font-size: 20px;
    word-spacing: 10px;
}
#info-column {
    /* border-radius: 10px; */
    height: 100%;
    margin-top: 10px;
    font-family: cursive;
    font-weight: bold;
    text-align: justify;
    display: block;
    line-height: 30px;
    width: 100%;
    max-width: 50%;
    margin: auto;
    margin-top: 5px;
}

 /* Style the header */
#todo-list-header {
    /* background-color: indianred; */
    padding: 15px 10px;
    color: black;
    text-align: center;
    width: 100%;
  }
  #todo-list-header {
      padding-top: 0;
  }

/* Style the input */
input {
    margin: 0;
    border: none;
    border: 3px solid indianred;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    font-size: 16px;
  }

  input[type="submit"] {

    display: block;
    background-color: indianred;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    /* border-radius: 16px; */
    font-size: 16px;
    width: 100%;
}

/* Style the "Add" button */
.addBtn {
    border: none;
    border: 3px solid indianred;
    padding: 10px;
    padding-bottom: 0px;
    width: 25%;
    background: indianred;
    color: white;
    float: right;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }

/* Clear floats after the header */
.todo-list-header:after {
    content: "";
    display: table;
    clear: both;
}

ul {
    cursor: pointer;
    position: relative;
    padding: 10px 8px 12px 10px;
    list-style-type: none;
    background: #ddd;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    /* background: #ddd; */
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

/* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #eee;
  }

/* Darker background-color on hover */
ul li:hover {
    background: gray;
  }

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  /* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }

  .close:hover {
    background-color: #f44336;
    color: white;
  }

@media screen and (max-width: 800px) {
    #info-column {
        max-width: 100%;
    }

    input {
        padding: 10px;
    }
}

/* Clear floats after the columns */

.column:after {
    content: "";
    display: table;
    clear: both;
}

/* ----Footer--------- */

.footer {
    padding: 20px;
    text-align: center;
    /* margin-top: 600px; */
}
.footer img {
    width: 2%;
}

footer,
small {
    font-weight: 400;
    color: black;
}

footer,
body {
    font-family: Raleway,"Open Sans", "Helvetica Neue", Helvetica, Aerial, sans-serif;
}
