/*-----master css customisation------ */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 20px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* ---------------Header css--------------------- */
.heading {
    overflow: hidden;
    color: white;
    padding: 10px 10px;
    border-bottom: 5px solid black;
}

.heading .logo {
    padding-top: 1px;
}
.title-1 {
    color: black;
    margin-top: 5px;
    font-family: cursive;
}

.heading a {
    float: right;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.heading:focus {
    background-color: indigo;
}

.heading img {
    width: 10%;
}

.heading .logo {
    font-size: 18px;
    font-weight: bold;
    float: left;
}

.heading a:hover {
    background-color: indianred;
    color: white;
}

.header-align {
    float: left;
}

@media screen and (max-width: 500px) {
    .heading a {
        float: none;
        display: block;
        text-align: center;
    }
    .heading .logo {
        float: none;
        display: block;
        text-align: center;
    }
    .header-align {
        float: none;
    }
    .heading {
        background-color: unset;
    }
}

/* ----------body css------------- */
.column {
    padding: 10px;
}

a {
    text-decoration: none;
}

/* ----form--- */
p {
    text-align: center;
    font-family: cursive;
    font-size: 20px;
}

#Attendant, #Manager, #Login-Manager {
    width: 60%;
    margin: auto;
}

input {

    padding: 12px;
    border-style: outset;
    border-width: 3px;
    border-radius: 4px;
    border-bottom-color: green;
    border-right-color: green;
    border-top: none;
    width: 100%;
    margin: 10px 0;
    /* opacity: 0.85; */
    display: block;
    font-size: 17px;
    line-height: 20px;
}

input[type="submit"] {

    display: block;
    background-color: indianred;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    border-radius: 16px;
    font-size: 14px;
}

#Manager a {
    cursor: pointer;
}

#Manager a:hover {
    color: indianred;
}

/* Style tab links */
.tablink {
    color: white;
    outline: none;
    cursor: pointer;
    float: right;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  .tablink:hover {
    background-color:#ddd;
    color: white;
  }

  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    /* color: white; */
    display: none;
    /* padding: 100px 20px; */
    height: 100%;
  }

@media screen and (max-width: 800px) {
    #Attendant, #Manager, #Login-Manager {
        width: 100%;
        height: 100%;
        margin: auto;
    }
}

/* Clear floats after the columns */

.column:after {
    content: "";
    display: table;
    clear: both;
}

/* ------------Footer ----------------------*/

.footer {
    padding: 20px;
    text-align: center;
    /* margin-top: 600px; */
}
.footer img {
    width: 2%;
}

footer,
small {
    font-weight: 400;
    color: black;
}

footer,
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Aerial, sans-serif;
}
