/*-----master css customisation------ */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 20px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

/*-----------------header css--------------*/
.heading {
    overflow: hidden;
    color: white;
    padding: 10px 10px;
    border-bottom: 5px solid black;
}

.heading .logo {
    padding-top: 1px;
}

.title-1 {
    color: black;
    margin-top: 10px;
    font-family: cursive;
}

.heading a {
    float: right;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.heading .logo {
    font-size: 18px;
    font-weight: bold;
    float: left;
}

.heading a:hover {
    background-color: indianred;
    color: white;
}

.heading a.active {
    background-color: dodgerblue;
    color: white;
}

.header-align {
    float: left;
}

.heading img {
    width: 10%;
}

@media screen and (max-width: 500px) {
    .heading a {
        float: none;
        display: block;
        text-align: center;
    }

    .heading .logo {
        float: none;
        display: block;
        text-align: center;
    }

    .header-align {
        float: none;
    }

    .heading {
        background-color: unset;
    }
}


/* ----------body------- */


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: none;

}

td, th {
    border: 1px solid green;
    text-align: left;
    padding: 8px;
}
th {
    background-color: indianred;
    color: white;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table caption {
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
}

table .btn {
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: red;
    border: none;
}

.btn {
    padding: 10px;
    width: 150px;
    margin-left: 5px;
}

table .green {
    background-color: green;
}

table .btn:hover {
    background-color: indianred;
}
/* ---profile----- */
.center-me {
    border-bottom: 5px solid black,
}

.profile {
    text-align: center;

    }

.right-image {
        margin-top: 10px;

    }
.right-image img {
        border-radius: 50%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.19);
        width: 80px;
    }

/* Style tab links */
.tablink {
    color: white;
    outline: none;
    cursor: pointer;
    float: right;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  .tablink:hover {
    background-color:#ddd;
    color: white;
  }

  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    display: none;
    height: 100%;
  }

  /* new product */
  #Add-Product {
    width: 60%;
    margin: auto;
}

#Add-Product input[type="submit"]{
    display: block;
    background-color: indianred;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    border-radius: 16px;
    font-size: 14px;
}

p {
    text-align: center;
    font-family: cursive;
    font-size: 20px;
}

input {

    padding: 12px;
    border-style: outset;
    border-width: 3px;
    border-radius: 4px;
    border-bottom-color: green;
    border-right-color: green;
    border-top: none;
    width: 100%;
    margin: 10px 0;
    /* opacity: 0.85; */
    display: block;
    font-size: 17px;
    line-height: 20px;
}

@media screen and (max-width: 800px) {
    input {
        padding: 10px;

    }
    .btn {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
}

/* Clear floats after the columns */

.column:after {
    content: "";
    display: table;
    clear: both;
}

/* ----Footer--------- */

.footer {
    padding: 20px;
    text-align: center;
    /* margin-top: 600px; */
}
.footer img {
    width: 2%;
}

footer,
small {
    font-weight: 400;
    color: black;
}

footer,
body {
    font-family: Raleway,"Open Sans", "Helvetica Neue", Helvetica, Aerial, sans-serif;
}
